<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class="wrapper">
        <div class="navigation">
            <ul>
                <div class="box">
                    <div class="content">
                        <img src="me.jpeg">
                        <h2>Nurulla Zholdoshov<br><span>Software Engineer</span></h2>
                    </div>
                </div>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="index.html">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="#">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <span class="title">Admin</span>
                    </a>
                </li>
                <li class="list active">
                    <b></b>
                    <b></b>
                    <a href="time.html">
                        <span class="icon"><ion-icon name="time-outline"></ion-icon></span>
                        <span class="title">Time</span>
                    </a>
                </li>
                <li class="list">
                    <b></b>
                    <b></b>
                    <a href="about.html">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">About</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="toggle">
            <ion-icon name="menu-outline" class="open"></ion-icon>
            <ion-icon name="close-outline" class="close"></ion-icon>
        </div>

        <div class="container">
            <div id="time">
                <div class="circle" style="--clr:#ff2972">
                    <div class="dots hr_dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70" id="hh"></circle>
                    </svg>
                    <div id="hours">00</div>
                </div>
                <div class="circle" style="--clr:#fee800">
                    <div class="dots min_dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70" id="mm"></circle>
                    </svg>
                    <div id="minutes">00</div>
                </div>
                <div class="circle" style="--clr:#04fc43">
                    <div class="dots sec_dot"></div>
                    <svg>
                        <circle cx="70" cy="70" r="70"></circle>
                        <circle cx="70" cy="70" r="70" id="ss"></circle>
                    </svg>
                    <div id="seconds">00</div>
                </div>
                <div class="ap">
                    <div id="ampm">AM</div>
                </div>
            </div>

        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>

        let menuToggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let container = document.querySelector('.container');
        menuToggle.onclick = function(){
            menuToggle.classList.toggle('active');
            navigation.classList.toggle('active');
            container.classList.toggle('active');
        }

        let list = document.querySelectorAll('.list');
        for (let i=0; i<list.length; i++){
            list[i].onclick = function(){
                let j = 0;
                while(j < list.length){
                    list[j++].className = 'list';
                }
                list[i].className = 'list active';
            }
        }
    </script>

    <script>
        setInterval(() =>{
            let hours = document.getElementById('hours');
            let minutes = document.getElementById('minutes');
            let seconds = document.getElementById('seconds');
            let ampm = document.getElementById('ampm');

            let hh = document.getElementById('hh');
            let mm = document.getElementById('mm');
            let ss = document.getElementById('ss');

            let hr_dot = document.querySelector('.hr_dot');
            let min_dot = document.querySelector('.min_dot');
            let sec_dot = document.querySelector('.sec_dot');

            let h = new Date().getHours();
            let m = new Date().getMinutes();
            let s = new Date().getSeconds();
            let am = h >= 12 ? "PM" : "AM";

            if (h > 12){
                h = h -12;
            }

            h = (h < 10) ? "0" + h : h;
            m = (m < 10) ? "0" + m : m;
            s = (s < 10) ? "0" + s : s;

            hours.innerHTML = h + "<br><span>Hours</span>";
            minutes.innerHTML = m + "<br><span>Minutes</span>";;
            seconds.innerHTML = s + "<br><span>Seconds</span>";;
            ampm.innerHTML = am;

            hh.style.strokeDashoffset = 440 - (440 * h) / 12;
            mm.style.strokeDashoffset = 440 - (440 * m) / 60;
            ss.style.strokeDashoffset = 440 - (440 * s) / 60;

            hr_dot.style.transform = `rotate(${h * 30}deg)`;
            min_dot.style.transform = `rotate(${m * 6}deg)`;
            sec_dot.style.transform = `rotate(${s * 6}deg)`;
        })
    </script>

</body>

</html>